/********************** Navbar Configuration **********************/
.vd-nav-title {
    line-height: 50px;
    /*margin-left: 5px;
    margin-right: 10px;*/
    font-size: 1em;
    color: white;
}

.toolbar-item a {
    cursor: pointer;
}

.navbar {
    min-height: 60px;
}

.navbar .nav > li.toolbar-item > a {
    color: var(--medium-dark-gray);
    font-weight: bold;
}

.navbar .nav > .toolbar-item > a.active {
    color: #000;
}

.navbar-header {
    margin-top: -10px;
}

/*.navbar-collapse {
    float: right;
    margin-top: 5px;
}*/

/*.nav.navbar-padding {
    margin-left: 20px;
    margin-top: 5px;
}*/

a.navbar-brand {
    color: #fff;
}

.navbar-brand > img {
    display: inline-block;
}

/*.navbar-inner {
    padding-left: 0px;
    background-color: var(--vivid-blue);
}*/

.navbar-inner.toolbar {
    background-color: var(--very-light-gray);
}

/*.navbar-inner.footer {
    background-color: var(--very-light-gray);
    height: 50px;
}*/

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: var(--very-very-very-light-gray);
    color: var(--trolley-gray);
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
    color: var(--dim-bright-red);
}

.navbar .nav > li {
    cursor: pointer;
}

.navbar .nav > li > a {
    color: var(--white);
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 0px;
}

.navbar .nav > li.toolbaritem > a {
    color: var(--black);
    font-weight: bold;
}

/*.nav.navBarPadding {
    margin-left: 25px;
    margin-top: 10px;
}*/

.navbarText {
    font-weight: bold;
}

.navbar-toggle {
    border: 1px solid var(--white);
}

.navbar-toggle .icon-bar {
    background-color: var(--white);
}

/*.navbar-inner.footer {
    background-color: var(--very-very-very-light-gray);
    height: 50px;
}*/

.navigation-items {
    list-style-type: none;
    /*margin-left: 20px;*/
    margin-top: 16px;
}
