<div id="page-top" fxLayoutAlign="center" class="vd-container-header vd-bgprimary-dream px-4">
  <h2 class="vd-container-text vd-fgprimary-vision">Log In To VisionDream</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-layout-wrapper">
  <div fxFlex="80%" fxFlex.lt-md="100%" class="vd-flex-wrapper">
    <div class="vd-container">

      <!-- Brand Icon -->
      <div class="vd-item text-center h5 mb-4">
        <img src="../../assets/vd/brand/images/vd_brand_yelblu_sol_tra_64x64.png"
             class="rounded mx-auto" alt="VisionDream Brand" width="64" height="64" />
      </div>

      <!-- Mat Card Container - Start -->
      <div fxLayoutAlign="center" class="vd-container-card">
        <mat-card class="vd-card-width">

          <!-- Mat Card Header -->
          <mat-card-header fxLayoutAlign="center" class="vd-bgprimary-dream text-white py-2">
            <mat-card-title>
              <strong class="fg-white">Log in</strong>
            </mat-card-title>
          </mat-card-header>

          <!-- Mat Card Content - Start -->
          <mat-card-content class="vd-container-card px-lg-5 pt-0">
            <!-- Form Section - Start -->
            <form autocomplete="off" novalidate class="form-dark vd-container-card">
              <div class="vd-container-card">
                <!-- E-mail / Username Field -->
                <mat-form-field [floatLabel]="options.value.floatLabel">
                  <mat-label>E-mail / Username</mat-label>
                  <input matInput type="email" placeholder="Your e-mail or username">
                </mat-form-field>
                <!-- Password Field -->
                <mat-form-field [floatLabel]="options.value.floatLabel">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" placeholder="Your password">
                </mat-form-field>
              </div>

              <!-- Remember Me and Forgot Password Section -->
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <mat-checkbox formControlName="rememberMeCheck">Remember me</mat-checkbox>
                </div>               
                <div>
                  <a href="/#/my-account/lost-password">Forgot password?</a>
                </div>
              </div>

              <!-- Log in Button -->
              <div class="vd-btn-container">
                <button mat-button
                        class="vd-btn-global vd-btn-dream-secondary btn-rounded btn-block my-4 waves-effect z-depth-0"
                        type="submit">
                  <span class="text-uppercase">Log in</span>
                </button>
              </div>

              <!-- Not a Member or Social Log in -->
              <div class="text-center">
                <p>
                  Not a member?
                  <a href="/#/register">Register</a>
                </p>

                <p>or log in with:</p>
                <a type="button" class="btn-floating btn-fb btn-sm">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a type="button" class="btn-floating btn-tw btn-sm">
                  <i class="fab fa-twitter"></i>
                </a>
                <a type="button" class="btn-floating btn-li btn-sm">
                 <i class="fab fa-linkedin-in"></i>
                </a>
                <a type="button" class="btn-floating btn-git btn-sm">
                  <i class="fab fa-github"></i>
                </a>
              </div>

              <hr>
              <!-- Legal Section -->
              <div class="text-center">
                <small class="text-muted">
                  By clicking
                  <span class="text-uppercase"><em>Log in</em></span> you agree to our
                  <a href="/#/legal/terms-of-service">Terms of Service</a> and
                  <a href="/#/legal/privacy-policy">Privacy Policy</a>.
                </small>
              </div>
            </form>
            <!-- Form Section - End -->
          </mat-card-content>
          <!-- Mat Card Content - End -->

          <!--<mat-card-actions>
            <div class="text-center">
              <p>
                By clicking
                <span class="text-uppercase"><em>Log in</em></span> you agree to our
                <a href="" target="_blank">terms of service</a> and
                <a href="" target="_blank">privacy</a>.
              </p>
            </div>
          </mat-card-actions>-->
        </mat-card>
      </div>
      <!-- Mat Card Container - End -->

      <!--<mat-card class="vd-card-width">
        <mat-card-header>
          <div mat-card-avatar class="vd-card-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>-->

    </div>
  </div>
</div>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
  <!--<fa-icon [icon]="vdFaAngleUp"></fa-icon>-->
</a>
