<app-layout>
    <mat-sidenav-container autosize>
        <mat-sidenav #sidenav mode="over" role="navigation">
            <!--SideNav navigation-->
            <app-nav-side (sidenavClose)="sidenav.close()">
            </app-nav-side>
            <!--/.SideNav navigation-->
        </mat-sidenav>
        <mat-sidenav-content>
            <!--Header navigation-->
            <app-header (sidenavToggle)="sidenav.toggle()">
            </app-header>
            <!--/.Header navigation-->
            <!--<app-nav-main (sidenavToggle)="sidenav.toggle()">
            </app-nav-main>-->
            <!--Main content-->
            <main>
                <router-outlet></router-outlet>
            </main>
            <!--/.Main content-->
            <!--Footer Layout-->
            <app-footer></app-footer>
            <!--/.Footer Layout-->
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>
