<mat-nav-list>
    <mat-toolbar>
        <mat-toolbar-row>
            <a mat-list-item [routerLink]='["/home"]' (click)="onSidenavClose()">
                <mat-icon class="vd-icon-padding">
                    <img src="assets/vd/brand/vd-logo-colour.png"
                        height="32" alt="VisionDream logo">
                </mat-icon>
                <span class="nav-caption"></span>
            </a>
        </mat-toolbar-row>
        <mat-divider></mat-divider>
        <mat-toolbar-row>
            <!--Social connect-->
            <a mat-list-item role="button" href="" target="_blank">
                <mat-icon class="vd-icon-padding" aria-hidden="false" aria-label="Facebook connect">
                    <fa-icon [icon]="vdFaFacebook" class="vd-icon-size"></fa-icon>
                </mat-icon>
                <span class="nav-caption"></span>
            </a>
            <a mat-list-item role="button" href="" target="_blank">
                <mat-icon class="vd-icon-padding" aria-hidden="false" aria-label="Twitter connect">
                    <fa-icon [icon]="vdFaTwitter" class="vd-icon-size"></fa-icon>
                </mat-icon>
                <span class="nav-caption"></span>
            </a>
            <a mat-list-item role="button" href="" target="_blank">
                <mat-icon class="vd-icon-padding" aria-hidden="false" aria-label="Github connect">
                    <fa-icon [icon]="vdFaGithub" class="vd-icon-size"></fa-icon>
                </mat-icon>
                <span class="nav-caption"></span>
            </a>
            <!--/.Social connect-->
        </mat-toolbar-row>
    </mat-toolbar>
    <!--Search form-->
    <form class="form-inline">
        <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
    </form>
    <!--/.Search form-->

    <mat-divider></mat-divider>

    <a mat-list-item [routerLink]='["/services"]' (click)="onSidenavClose()">
        <mat-icon class="vd-icon-padding">
            <fa-icon [icon]="vdFaClipboardList" class="vd-icon-size"></fa-icon>
        </mat-icon>
        <span class="nav-caption">Services</span>
    </a>
    <a mat-list-item [routerLink]='["/portfolio"]' (click)="onSidenavClose()">
        <mat-icon class="vd-icon-padding">
            <fa-icon [icon]="vdFaProjectDiagram" class="vd-icon-size"></fa-icon>
        </mat-icon>
        <span class="nav-caption">Portfolio</span>
    </a>
    <a mat-list-item [routerLink]='["/contact"]' (click)="onSidenavClose()">
        <mat-icon class="vd-icon-padding">
            <fa-icon [icon]="vdFaEnvelope" class="vd-icon-size"></fa-icon>
        </mat-icon>
        <span class="nav-caption">Contact</span>
    </a>
    <a mat-list-item [routerLink]='["/about"]' (click)="onSidenavClose()">
        <mat-icon class="vd-icon-padding">
            <fa-icon [icon]="vdFaInfo" class="vd-icon-size"></fa-icon>
        </mat-icon>
        <span class="nav-caption">About</span>
    </a>
    <a mat-list-item [routerLink]='["/register"]' (click)="onSidenavClose()">
        <mat-icon class="vd-icon-padding">
            <fa-icon [icon]="vdFaUser" class="vd-icon-size"></fa-icon>
        </mat-icon>
        <span class="nav-caption">Register</span>
    </a>
    <a mat-list-item [routerLink]='["/login"]' (click)="onSidenavClose()">
        <mat-icon class="vd-icon-padding">
            <fa-icon [icon]="vdFaSignInAlt" class="vd-icon-size"></fa-icon>
        </mat-icon>
        <span class="nav-caption">Log In</span>
    </a>
    <!-- <a mat-list-item href="" (click)="sidenav.toggle()" mat-list-item>
        <mat-icon class="vd-icon-padding">
            <fa-icon [icon]="vdFaInfo" class="vd-icon-size"></fa-icon>
        </mat-icon>
        <span class="nav-caption">Close</span>
    </a> -->
</mat-nav-list>
