<div id="page-top" fxLayoutAlign="center" class="vd-container-header vd-bgprimary-dream px-4">
  <h2 class="vd-container-text vd-fgprimary-vision">Our Services</h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="vd-layout-wrapper">
  <div fxFlex="80%" fxFlex.lt-md="100%" class="vd-flex-wrapper">
    <div class="vd-container">

      <h5 class="vd-fgprimary-dream"><b>Software Engineering Services</b></h5>
      <p>
          Our speciality is in software engineering services that include development of database-driven
          line-of-business systems, web based applications and web interfaces that solve business problems.
      </p>
      <p>
          This allows us to deliver high-quality systems within shorter than expected time-frames - translating
          into lower cost of development for our clients.
      </p>

    </div>
  </div>
</div>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
  <fa-icon [icon]="['fas', 'faAngleUp']"></fa-icon>
</a>
